.tienda{
    position: sticky; 
    font-family: Arial, Helvetica, sans-serif; 
    z-index: 1; 
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    font-size: 180%; 
    left: 30%; 
    bottom: 88.5%;
}

.tienda:hover{
    text-decoration: underline;
}

.wholesale{
    position: sticky; 
    font-family: Arial, Helvetica, sans-serif; 
    z-index: 1; 
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    font-size: 180%; 
    left: 40%; 
    bottom: 88.5%;
}

.wholesale:hover{
    text-decoration: underline;
}

.blog{
    position: sticky; 
    font-family: Arial, Helvetica, sans-serif; 
    z-index: 1; 
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    font-size: 180%; 
    left: 51%; 
    bottom: 88.5%;
}

.blog:hover{
    text-decoration: underline;
}

.about{
    position: sticky; 
    font-family: Arial, Helvetica, sans-serif; 
    z-index: 1; 
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    font-size: 180%; 
    left: 63%; 
    bottom: 88.5%;
}

.about:hover{
    text-decoration: underline;
}

.now{
    text-decoration: none; 
    color: black;
}

.now:hover{
    text-decoration: underline;
}

.power{
    position: sticky; 
    left: 25%; 
    text-decoration: none; 
    color: black; 
    font-size: 200%; 
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    position: relative; 
    bottom: 0%;
    transition: .5s;
}

.power:hover{
    transition: .5s;
    color: blue;
}

.ciel{
    position: sticky; 
    left: 30%; 
    text-decoration: none; 
    color: black; 
    font-size: 200%; 
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    position: relative; 
    bottom: 0%;
    transition: .5s;
}

.ciel:hover{
    transition: .5s;
    color: aqua;
}

.fuze{
    position: sticky; 
    left: 35%; 
    text-decoration: none; 
    color: black; 
    font-size: 200%; 
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    position: relative; 
    bottom: 0%;
    transition: .5s;
}

.fuze:hover{
    transition: .5s;
    color: chartreuse;
}

.santa{
    position: sticky; 
    left: 40%; 
    text-decoration: none; 
    color: black; 
    font-size: 200%; 
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    position: relative; 
    bottom: 0%;
    transition: .5s;
}

.santa:hover{
    transition: .5s;
    color: burlywood;
}

.mxn{
    text-decoration: none;
    transition: .5s;
    color: black;
}

.mxn:hover{
    transition: .5s;
    color: white;
}